* {
  box-sizing: border-box;
}

body {
  background: rgb(211, 157, 42);
}

h2 {
  text-align: center;
}

.firstHeading {
  display: flex;
  justify-content: center;
}

p {
  text-align: center;
}

footer {
  text-align: center;
}

.link-items {
  padding: 1.5rem;
  color: green;
}

.croissant-photo {
  max-width: 100%;
  display: block;
  margin: 30px auto;
  border-radius: 1rem;
}
